# Python Practice Day 9

## Comprehensions

### List Comprehension

In [2]:
L1 = [10, 20, 30, 40]    #general way of declaring a list

In [4]:
L2 = [x + 5 for x in L1]     #this is List comprehension
L2

[15, 25, 35, 45]

In [6]:
L3 = [x +5 for x in range(10, 51, 10)]
L3

[15, 25, 35, 45, 55]

In [7]:
s = 'Think Merit, Think Transperacy, Think SASTRA'

In [14]:
L4 = [x for x in s.split(',')]    #splitting between commas
L4

['Think Merit', ' Think Transperacy', ' Think SASTRA']

In [15]:
L5 = [x.strip() for x in s.split(',')]      #without the space after the comma that is x.strip()
L5

['Think Merit', 'Think Transperacy', 'Think SASTRA']

In [17]:
L6 = [x.strip().upper() for x in s.split(',')]   #after stripping using upper()
L6

['THINK MERIT', 'THINK TRANSPERACY', 'THINK SASTRA']

In [18]:
L7 = [x for x in range(50) if x%2 == 0]
L7

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

### Set Comprehension

It is as same as List Comprehension but duplicates wont be there..

In [19]:
s1 = {10, 20, 30, 40}
s1

{10, 20, 30, 40}

In [20]:
s2 = {x+5 for x in s1}
s2

{15, 25, 35, 45}

In [21]:
s3 = {x + 5 for x in range(10, 50, 10)}
s3

{15, 25, 35, 45}

In [22]:
s = 'Think Merit, Think Transperacy, Think SASTRA'

In [25]:
s4 = {x for x in s.split(',')}   #it is unordered so note it
s4

{' Think SASTRA', ' Think Transperacy', 'Think Merit'}

In [26]:
s5 = {x.strip() for x in s.split(',')}
s5

{'Think Merit', 'Think SASTRA', 'Think Transperacy'}

In [27]:
s6 = {x.strip().upper() for x in s.split(',')}
s6

{'THINK MERIT', 'THINK SASTRA', 'THINK TRANSPERACY'}

In [28]:
s7 = {x for x in range(50) if x%2 == 0}
s7

{0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48}

### Dictionary Comprehension

For dictionary we should have 2 values that is (key, value) pair

In [29]:
L1 = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [30]:
D1 = {x:ord(x) for x in L1}
D1

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72}

In [32]:
D2 = {x:x**2 for x in range(10)}
D2

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [34]:
L2 = [(x, ord(x)) for x in 'abcdefghijklmnopqrstuvwxyz']

In [39]:
D3 = {x:y for (x,y) in L2}     #this is taking the element from the list and unpacking it
D3

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106,
 'k': 107,
 'l': 108,
 'm': 109,
 'n': 110,
 'o': 111,
 'p': 112,
 'q': 113,
 'r': 114,
 's': 115,
 't': 116,
 'u': 117,
 'v': 118,
 'w': 119,
 'x': 120,
 'y': 121,
 'z': 122}

In [38]:
D3 = {x:y for x,y in L2}            #this is unpacking and taking the elements
D3

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106,
 'k': 107,
 'l': 108,
 'm': 109,
 'n': 110,
 'o': 111,
 'p': 112,
 'q': 113,
 'r': 114,
 's': 115,
 't': 116,
 'u': 117,
 'v': 118,
 'w': 119,
 'x': 120,
 'y': 121,
 'z': 122}

In [40]:
L1 = [['Joe', 48], ['Kim', 32], ['Raja', 25], ['Ajai', 60]]

In [41]:
D4 = {a:b for [a, b] in L1}
D4

{'Joe': 48, 'Kim': 32, 'Raja': 25, 'Ajai': 60}

In [42]:
D4 = {a:b for a, b in L1}
D4

{'Joe': 48, 'Kim': 32, 'Raja': 25, 'Ajai': 60}

### Tuple Comprehension

Tuple Comprehension is slightly different from other comprehensions

In [43]:
D1 = D4.copy()

In [44]:
D1

{'Joe': 48, 'Kim': 32, 'Raja': 25, 'Ajai': 60}

In [54]:
T1 = (D1.items())
T1                         #this is not a tuple

dict_items([('Joe', 48), ('Kim', 32), ('Raja', 25), ('Ajai', 60)])

In [55]:
T1 = tuple(D1.items())     #we need to explicitly mention tuple() keyword to store it as tuple unlike lists
T1                         #where we put [] for lists

(('Joe', 48), ('Kim', 32), ('Raja', 25), ('Ajai', 60))

In [60]:
T2 = ((x.upper(),y) for x,y in T1) 
T2                        #this is a generator object

In [61]:
T2 = tuple((x.upper(),y) for x,y in T1) 
T2                        #this is a tuple

(('JOE', 48), ('KIM', 32), ('RAJA', 25), ('AJAI', 60))

In [62]:
L1 = [1, 2, 3, 4]
L2 = [10, 20]
T2 = tuple((x, y, x*y) for x in L1 for y in L2)
T2

((1, 10, 10),
 (1, 20, 20),
 (2, 10, 20),
 (2, 20, 40),
 (3, 10, 30),
 (3, 20, 60),
 (4, 10, 40),
 (4, 20, 80))

## Iterables

Manual Iteration Using __iter()__ and __next()__

In [63]:
L = [1, 2, 3]

In [64]:
l = L.__iter__()

In [65]:
l

In [66]:
l.__next__()

1

In [67]:
l.__next__()

2

In [69]:
l.__next__()

3

In [70]:
l.__next__()

StopIteration:

Another method for manual iteration

In [71]:
L = [1, 2, 3]

In [72]:
l = iter(L)

In [73]:
l

In [74]:
next(l)

1

In [75]:
next(l)

2

In [76]:
next(l)

3

In [77]:
next(l)

StopIteration:

## Built-in functions using iterables

    range()      - Produces items within the specified range
    zip()        - Combines items from iterables 
    map()        - Applies a function to every item in the iterable
    enumerate()  - Pairs items in an iterable with relative positions
    filter()     - Selects items for which a function is true
    reduce()     - Runs pairs of items in an iterable through a function, available in functools
    min()        - Returns minimum of all items
    max()        - Returns maximum of all items
    sum()        - Sum of all numerical items
    any()        - Returns True if any one item has True value otherwise returns False
    all()        - Returns True if all items have True value otherwise returns False
    bool()       - Returns the truth value of any object

#### range()

In [79]:
R = range(10, 50, 5)

In [80]:
R

range(10, 50, 5)

In [81]:
for i  in R:
    print(i, end = ',')
print()

10,15,20,25,30,35,40,45,

In [85]:
L1 = [10, 20, 30, 40, 50]
L2 = [1, 2, 3, 4, 5]
z = zip(L1, L2)       #for using zip the length of both the args must be same..they may be of diff datatype
z

In [86]:
T = tuple(z)

In [87]:
T

((10, 1), (20, 2), (30, 3), (40, 4), (50, 5))

#### zip()

In [93]:
Z = zip([1,2], [1, 2, 3, 4])    # they can be diff lenght but only min of the two lengths will be taken..see below

In [94]:
Z

In [95]:
t = tuple(Z)

In [96]:
t

((1, 1), (2, 2))

In [98]:
keys = 'abcdefghijklmnopqrstuvwxyz'
values = range(97, 123)
D = {x:y for x, y in zip(keys, values)}
print(D)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [100]:
D = dict(zip(keys, values))
print(D)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [113]:
L1 = [1, 2, 3]
L2 = [10, 20, 30]
L3 = [100, 200, 300]
for x, y, z in zip(L1, L2, L3):
    print(x, y, z)

1 10 100
2 20 200
3 30 300

#### map()

In [105]:
M = map(ord, keys)   #first parameter is a func which maps 2nd param using the func

In [106]:
M

In [107]:
for x in M:
    print(x, end = ', ')

97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122,

In [108]:
L = list(map(ord, keys))
print(L)

[97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122]

In [109]:
T = tuple(map(ord, keys))
print(T)

(97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122)

In [112]:
D = {x:y for x,y in zip(keys, map(ord,keys))}
print(D)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

#### enumerate()

In [120]:
L1 = [10, 20, 30, 40 ,50]
E = enumerate(L1)#enumerate pairs the object with the position

In [121]:
E

In [122]:
for x in E:   
    print(x)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)

In [123]:
names = ['Joe', 'Kim', 'John', 'Lina']
D = {x:y.upper() for x, y in enumerate(names)}

In [124]:
D

{0: 'JOE', 1: 'KIM', 2: 'JOHN', 3: 'LINA'}

In [127]:
S = set(enumerate(names))
S    #we cant predict here since set is unordered

{(0, 'Joe'), (1, 'Kim'), (2, 'John'), (3, 'Lina')}

#### filter()

In [132]:
def isvowel(x):
    if x in 'aeiou':
        return True
    return False
alpha = 'abcdefghijklmnopqrstuvwxyz'
F = filter(isvowel, alpha)
F

In [133]:
vowels = list(filter(isvowel, alpha))
vowels

['a', 'e', 'i', 'o', 'u']

In [134]:
vowels = [x for x in alpha if x in 'aeiou']
vowels

['a', 'e', 'i', 'o', 'u']

In [136]:
import math
def isprime(x):
    for i in range(2, int(math.sqrt(x)+1)):
        if x % i == 0:
            break
    else:
        return True
    return False
prime = list(filter(isprime, range(10, 50)))
print(prime)

[11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [137]:
from functools import reduce

In [138]:
def fact(x, y):
    return x*y
r = reduce(fact, range(1, 6))
print(r)

120

In [140]:
def concat(x, y):
    return x + ", " + y
L = ['Think Merit', 'Think Transperacy', 'Think SASTRA']
r = reduce(concat, L)
print(r)

Think Merit, Think Transperacy, Think SASTRA

In [182]:
L1 = [120, 165, 243, 654, 23, 7656]

In [183]:
min(L1)

23

In [184]:
max(L1)

7656

In [185]:
sum(L1)

8861

In [186]:
any(L1)

True

In [187]:
all(L1)

True

In [188]:
L = [0, 20, 30]

In [189]:
any(L)

True

In [190]:
all(L)

False

In [191]:
s = ['', 'abc', 'xyz']

In [193]:
any(s)

True

In [194]:
all(s)

False

In [195]:
bool({})

False

In [196]:
bool([])

False

In [197]:
bool('')

False

In [198]:
bool(0)

False

In [199]:
bool(0.0)

False

In [200]:
bool(0.0000001)

True

In [201]:
bool(set())

False

In [203]:
bool({1,2 ,3})

True

In [204]:
bool(None)

False

In [206]:
D = {4:'Raju', 1:'Rani', 2:'Matri', 6:'sena'}
min(D)   #min key will be returned

1

In [209]:
max(D)   #done on keys

6

In [210]:
sum(D)

13