# Python Practice Day 8

## Dictionaries

In [1]:
states = {'TN' : 'Tamil Nadu',
         'AP' : 'Andhra Pradesh',
         'TS' : 'Telangana',
         'KA' : 'Karnataka',
         'KL' : 'Kerala'}

In [2]:
states

{'TN': 'Tamil Nadu',
 'AP': 'Andhra Pradesh',
 'TS': 'Telangana',
 'KA': 'Karnataka',
 'KL': 'Kerala'}

In [3]:
states['AP']

'Andhra Pradesh'

In [4]:
states['MH'] = 'Maharastra'

In [5]:
states

{'TN': 'Tamil Nadu',
 'AP': 'Andhra Pradesh',
 'TS': 'Telangana',
 'KA': 'Karnataka',
 'KL': 'Kerala',
 'MH': 'Maharastra'}

In [6]:
states['DL']  #throws key error

KeyError: 'DL'

In [7]:
states.get('AP', 'India')  #Since AP is present Andhra Pradesh is printed

'Andhra Pradesh'

In [8]:
states.get('DL', 'India')   #Since DL is not there in dict, India is printed

'India'

In [9]:
print(states.get('DL'))    #returns None since no default values is passed

None

In [10]:
states.pop('KL', 'Popped')   #will pop kerala and return it

'Kerala'

In [11]:
states.pop('KL', 'Popped')   #will return popped since kerala is already popped

'Popped'

In [12]:
states.keys()

dict_keys(['TN', 'AP', 'TS', 'KA', 'MH'])

In [13]:
states.values()   #returns the iterable object from

dict_values(['Tamil Nadu', 'Andhra Pradesh', 'Telangana', 'Karnataka', 'Maharastra'])

In [20]:
L = list(states.items())   #items() will return each key value pair as tuple

In [21]:
L

[('TN', 'Tamil Nadu'),
 ('AP', 'Andhra Pradesh'),
 ('TS', 'Telangana'),
 ('KA', 'Karnataka'),
 ('MH', 'Maharastra')]

In [22]:
new_dict = states.copy()    #returns a new dict which is a copy

In [23]:
new_dict

{'TN': 'Tamil Nadu',
 'AP': 'Andhra Pradesh',
 'TS': 'Telangana',
 'KA': 'Karnataka',
 'MH': 'Maharastra'}

In [24]:
states.clear()             #will clear all elements in the dict and will not delete it

In [25]:
states

{}

In [27]:
new_dict                   #new_dict will not be affected after clearing the states

{'TN': 'Tamil Nadu',
 'AP': 'Andhra Pradesh',
 'TS': 'Telangana',
 'KA': 'Karnataka',
 'MH': 'Maharastra'}

In [29]:
dict2 = new_dict          
#both dict2 and new_dict are pointing to the same object and anychanges made in new_dict will be affected in dict2 also

In [37]:
List = ['a', 'b', 'c', 'd']
alpha = dict.fromkeys(List)
alpha

{'a': None, 'b': None, 'c': None, 'd': None}

In [38]:
alpha = dict.fromkeys(List, 0)
alpha

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [42]:
alpha['a'] += 1
alpha['b'] += 3
alpha['d'] += 5
alpha

{'a': 2, 'b': 3, 'c': 0, 'd': 5}

In [43]:
alpha.setdefault('a')

2

In [44]:
alpha.setdefault('b')

3

In [45]:
alpha.setdefault('e', 1)   #Insert key with a value of default if key is not in the dictionary.

                           #Return the value for key if key is in the dictionary, else default.

1

In [46]:
alpha

{'a': 2, 'b': 3, 'c': 0, 'd': 5, 'e': 1}

In [47]:
alpha.setdefault('f')

In [48]:
alpha

{'a': 2, 'b': 3, 'c': 0, 'd': 5, 'e': 1, 'f': None}

In [49]:
alpha.update([['f', 1], ['g', 4], ['h', 9]])

In [50]:
alpha

{'a': 2, 'b': 3, 'c': 0, 'd': 5, 'e': 1, 'f': 1, 'g': 4, 'h': 9}

In [51]:
del alpha['c']

In [52]:
alpha

{'a': 2, 'b': 3, 'd': 5, 'e': 1, 'f': 1, 'g': 4, 'h': 9}

In [54]:
del alpha['c']

KeyError: 'c'

In [56]:
if 'c' in alpha:      #checking for key in dictionary
    del alpha['c']
else:
    print('c is not there in dictionary')

c is not there in dictionary

In [57]:
if 'a' in alpha:      #checking for key in dictionary
    del alpha['a']
else:
    print('c is not there in dictionary')

In [58]:
alpha

{'b': 3, 'd': 5, 'e': 1, 'f': 1, 'g': 4, 'h': 9}

In [61]:
list(alpha.items())

[('b', 3), ('d', 5), ('e', 1), ('f', 1), ('g', 4), ('h', 9)]

In [62]:
list(alpha)

['b', 'd', 'e', 'f', 'g', 'h']

In [148]:
L = ['i', 'am', 'string']
d = {'a':1, 'b':2, 20: L}

In [149]:
d

{'a': 1, 'b': 2, 20: ['i', 'am', 'string']}

In [150]:

L[1] = 'a'
d

{'a': 1, 'b': 2, 20: ['i', 'a', 'string']}

# Sets

In [67]:
s = set([1, 2, 3, 4, 1])   #contains unique elements
s                          #an integer set

{1, 2, 3, 4}

In [72]:
s.add(1)    #will now throw any error..if 1 is there it will ignore else it will add
s

{1, 2, 3, 4}

In [73]:
s.add(5)
s

{1, 2, 3, 4, 5}

In [74]:
for i in s:
    print(i, end = ' ')

1 2 3 4 5

In [76]:
s = set(['abc', 12, 19.04, [1, 2, 3]])         #set only allows immutable objects to be inserted

TypeError: unhashable type: 'list'

In [79]:
s = set(['abc', 12, 19.04, (1, 2, 3)])           #set is unordered
s

{(1, 2, 3), 12, 19.04, 'abc'}

In [81]:
s[1]                                 #since it is unordered, we can use indexing

TypeError: 'set' object is not subscriptable

In [82]:
s = set('abcd')
s

{'a', 'b', 'c', 'd'}

In [89]:
s1 = set([1, 2, 3, 4])
s1

{1, 2, 3, 4}

In [90]:
s2 = set([1, 2, 5, 7, 10])
s2

{1, 2, 5, 7, 10}

In [91]:
s1 - s2

{3, 4}

In [92]:
s2 - s1

{5, 7, 10}

In [93]:
s1 | s2

{1, 2, 3, 4, 5, 7, 10}

In [94]:
s1 & s2

{1, 2}

In [95]:
s1 ^ s2

{3, 4, 5, 7, 10}

In [96]:
s1 > s2

False

In [97]:
s1 < s2

False

In [98]:
s3 = set([1, 2])

In [99]:
s3 < s1

True

In [100]:
1 in s1

True

In [101]:
15 in s1

False

In [102]:
s1.intersection(s2)

{1, 2}

In [105]:
s2.intersection(s1)      #same as s2 & s1

{1, 2}

In [106]:
s1.union(s2)             #same as s1 | s2

{1, 2, 3, 4, 5, 7, 10}

In [114]:
s1 = set([1, 2, 3, 4])
s1

{1, 2, 3, 4}

In [115]:
s1.add(5)
s1

{1, 2, 3, 4, 5}

In [116]:
L = [3, 5, 7, 9]
s1.update(L)
s1

{1, 2, 3, 4, 5, 7, 9}

In [120]:
s1.remove(1) 
s1

KeyError: 1

In [123]:
s1.discard(15)         # will not throw any error even if 15 is not there in the set
s1

{2, 3, 4, 5, 7, 9}

In [124]:
s1.discard(2)         # will remove if 2 is present else ignore
s1

{3, 4, 5, 7, 9}

In [126]:
len(s1)

5

In [127]:
s2 = set([5, 7])
s2

{5, 7}

In [128]:
s1.issubset(s2)

False

In [129]:
s1.issuperset(s2)

True

In [130]:
s1.symmetric_difference(s2)

{3, 4, 9}

In [133]:
s2.clear()     #clears all the elements but reference will be there

In [134]:
s2

set()

In [138]:
s2 = set([5, 7])
del s2         #deletes the data and also the reference

In [139]:
s2

NameError: name 's2' is not defined

In [140]:
s2 = s1.copy()

In [141]:
s2

{3, 4, 5, 7, 9}