# Python Practice Day 6

## Tuples

In [6]:
T = ()  #Empty Tuple

In [7]:
T = (1, 2, 3)   #Int tuple

In [9]:
T = (45, 30.9, (45, 'Raja'), ['Red', 'Green'])   #heterogenous tuple
T

(45, 30.9, (45, 'Raja'), ['Red', 'Green'])

In [11]:
Flowers = ('Rose', 'Lilly', 'Jasmine', 'Lotus')
Colors = ['Red', 'Blue', 'Yellow', 'White']

In [12]:
T = (Flowers, Colors)

In [13]:
T

(('Rose', 'Lilly', 'Jasmine', 'Lotus'), ['Red', 'Blue', 'Yellow', 'White'])

In [14]:
T[1][0]

'Red'

In [15]:
T[0][2]

'Jasmine'

In [16]:
Colors[1] = 'Black'

In [17]:
Colors

['Red', 'Black', 'Yellow', 'White']

In [19]:
T     #T is storing the reference of Colors

(('Rose', 'Lilly', 'Jasmine', 'Lotus'), ['Red', 'Black', 'Yellow', 'White'])

In [20]:
T = (1, 2, 3)

In [21]:
a, b, c = T

In [22]:
a

1

In [23]:
b

2

In [24]:
c

3

In [30]:
x = 10
y = 20 
z = 30
T = (x, y, z)

In [32]:
T[0] = 100

TypeError: 'tuple' object does not support item assignment

In [37]:
x = 100    #x is immutable... x not is not pointing to 10 and hence tuple value wont change

In [38]:
T

(10, 20, 30)

In [49]:
T2 = 4, 6, 10

In [50]:
T2

(4, 6, 10)

In [51]:
T2 += (12, 15)

In [52]:
T2

(4, 6, 10, 12, 15)

In [53]:
T2 = T2 + (10,10)

In [54]:
T2

(4, 6, 10, 12, 15, 10, 10)

In [55]:
T2 *= 2     #repetition operator

In [56]:
T2

(4, 6, 10, 12, 15, 10, 10, 4, 6, 10, 12, 15, 10, 10)

In [57]:
T2 = T2 - (6, 10)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'