# Python Practice Day 9

## Comprehensions

### List Comprehension

In [2]:
L1 = [10, 20, 30, 40]    #general way of declaring a list

In [4]:
L2 = [x + 5 for x in L1]     #this is List comprehension
L2

[15, 25, 35, 45]

In [6]:
L3 = [x +5 for x in range(10, 51, 10)]
L3

[15, 25, 35, 45, 55]

In [7]:
s = 'Think Merit, Think Transperacy, Think SASTRA'

In [14]:
L4 = [x for x in s.split(',')]    #splitting between commas
L4

['Think Merit', ' Think Transperacy', ' Think SASTRA']

In [15]:
L5 = [x.strip() for x in s.split(',')]      #without the space after the comma that is x.strip()
L5

['Think Merit', 'Think Transperacy', 'Think SASTRA']

In [17]:
L6 = [x.strip().upper() for x in s.split(',')]   #after stripping using upper()
L6

['THINK MERIT', 'THINK TRANSPERACY', 'THINK SASTRA']

In [18]:
L7 = [x for x in range(50) if x%2 == 0]
L7

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

### Set Comprehension

It is as same as List Comprehension but duplicates wont be there..

In [19]:
s1 = {10, 20, 30, 40}
s1

{10, 20, 30, 40}

In [20]:
s2 = {x+5 for x in s1}
s2

{15, 25, 35, 45}

In [21]:
s3 = {x + 5 for x in range(10, 50, 10)}
s3

{15, 25, 35, 45}

In [22]:
s = 'Think Merit, Think Transperacy, Think SASTRA'

In [25]:
s4 = {x for x in s.split(',')}   #it is unordered so note it
s4

{' Think SASTRA', ' Think Transperacy', 'Think Merit'}

In [26]:
s5 = {x.strip() for x in s.split(',')}
s5

{'Think Merit', 'Think SASTRA', 'Think Transperacy'}

In [27]:
s6 = {x.strip().upper() for x in s.split(',')}
s6

{'THINK MERIT', 'THINK SASTRA', 'THINK TRANSPERACY'}

In [28]:
s7 = {x for x in range(50) if x%2 == 0}
s7

{0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48}

### Dictionary Comprehension

For dictionary we should have 2 values that is (key, value) pair

In [29]:
L1 = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [30]:
D1 = {x:ord(x) for x in L1}
D1

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72}

In [32]:
D2 = {x:x**2 for x in range(10)}
D2

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [34]:
L2 = [(x, ord(x)) for x in 'abcdefghijklmnopqrstuvwxyz']

In [39]:
D3 = {x:y for (x,y) in L2}     #this is taking the element from the list and unpacking it
D3

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106,
 'k': 107,
 'l': 108,
 'm': 109,
 'n': 110,
 'o': 111,
 'p': 112,
 'q': 113,
 'r': 114,
 's': 115,
 't': 116,
 'u': 117,
 'v': 118,
 'w': 119,
 'x': 120,
 'y': 121,
 'z': 122}

In [38]:
D3 = {x:y for x,y in L2}            #this is unpacking and taking the elements
D3

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106,
 'k': 107,
 'l': 108,
 'm': 109,
 'n': 110,
 'o': 111,
 'p': 112,
 'q': 113,
 'r': 114,
 's': 115,
 't': 116,
 'u': 117,
 'v': 118,
 'w': 119,
 'x': 120,
 'y': 121,
 'z': 122}

In [40]:
L1 = [['Joe', 48], ['Kim', 32], ['Raja', 25], ['Ajai', 60]]

In [41]:
D4 = {a:b for [a, b] in L1}
D4

{'Joe': 48, 'Kim': 32, 'Raja': 25, 'Ajai': 60}

In [42]:
D4 = {a:b for a, b in L1}
D4

{'Joe': 48, 'Kim': 32, 'Raja': 25, 'Ajai': 60}

### Tuple Comprehension

Tuple Comprehension is slightly different from other comprehensions

In [43]:
D1 = D4.copy()

In [44]:
D1

{'Joe': 48, 'Kim': 32, 'Raja': 25, 'Ajai': 60}

In [54]:
T1 = (D1.items())
T1                         #this is not a tuple

dict_items([('Joe', 48), ('Kim', 32), ('Raja', 25), ('Ajai', 60)])

In [55]:
T1 = tuple(D1.items())     #we need to explicitly mention tuple() keyword to store it as tuple unlike lists
T1                         #where we put [] for lists

(('Joe', 48), ('Kim', 32), ('Raja', 25), ('Ajai', 60))

In [60]:
T2 = ((x.upper(),y) for x,y in T1) 
T2                        #this is a generator object

In [61]:
T2 = tuple((x.upper(),y) for x,y in T1) 
T2                        #this is a tuple

(('JOE', 48), ('KIM', 32), ('RAJA', 25), ('AJAI', 60))

In [62]:
L1 = [1, 2, 3, 4]
L2 = [10, 20]
T2 = tuple((x, y, x*y) for x in L1 for y in L2)
T2

((1, 10, 10),
 (1, 20, 20),
 (2, 10, 20),
 (2, 20, 40),
 (3, 10, 30),
 (3, 20, 60),
 (4, 10, 40),
 (4, 20, 80))