# Assignment on Tuples

### Creating Tuples

#### Creating an empty tuple

In [2]:
T = ()

In [5]:
type(T)

tuple

#### Homogeneous Tuple

In [6]:
T = (5, 10, 15, 20)

In [7]:
T

(5, 10, 15, 20)

#### Heterogeneous Tuple

In [14]:
T = (32, 'SASTRA', [1, 2, 3, 4, 5], (100, 200), True)   
print(T)

(32, 'SASTRA', [1, 2, 3, 4, 5], (100, 200), True)

### Referring Tuple items

In [9]:
T = ('Banglore', 'Chennai', 'Delhi', 'Mumbai')

In [10]:
T[2]

'Delhi'

In [11]:
T[4]

IndexError: tuple index out of range

In [12]:
T[-1]

'Mumbai'

In [13]:
T[1] = 'Kolkata'

TypeError: 'tuple' object does not support item assignment

In [15]:
T = (32, 'SASTRA', [1, 2, 3, 4, 5], (100, 200), True)

In [16]:
T[2][0]

1

In [17]:
T[3][1]

200

In [18]:
T1 = (1,2,3,4)
T2 = (5,6,7,8)

T = (T1, T2)

In [19]:
T

((1, 2, 3, 4), (5, 6, 7, 8))

In [20]:
T[0]

(1, 2, 3, 4)

In [21]:
T[1]

(5, 6, 7, 8)

In [22]:
T[1][1]

6

In [23]:
T[1][1] = 100

TypeError: 'tuple' object does not support item assignment

In [24]:
L2 = [5, 6, 7, 8]

In [25]:
T = (T1, L2)

In [26]:
T

((1, 2, 3, 4), [5, 6, 7, 8])

In [28]:
L2[1] = 1000

In [29]:
L2

[5, 1000, 7, 8]

In [31]:
T         #Tuple takes the reference of the list

((1, 2, 3, 4), [5, 1000, 7, 8])

### Working with tuple elements

In [56]:
T = (32, 'SASTRA', [1, 2, 3, 4, 5], (100, 200))

In [57]:
a, b, c, d = T
a, b, c ,d

(32, 'SASTRA', [1, 2, 3, 4, 5], (100, 200))

In [58]:
type(a), type(b), type(c), type(d)

(int, str, list, tuple)

In [59]:
x = a
y = b
z = c

In [60]:
T2 = (x, y, z)

In [61]:
T2

(32, 'SASTRA', [1, 2, 3, 4, 5])

In [62]:
x = -1000

In [63]:
T2

(32, 'SASTRA', [1, 2, 3, 4, 5])

In [64]:
x

-1000

In [73]:
T = (100)*8

In [75]:
T, type(T)

(800, int)

In [76]:
T = (100,)*8
T, type(T)

((100, 100, 100, 100, 100, 100, 100, 100), tuple)

In [79]:
T = ('SASTRA', )*4

In [80]:
T

('SASTRA', 'SASTRA', 'SASTRA', 'SASTRA')

In [83]:
T = T + ('VIT',)

In [84]:
T

('SASTRA', 'SASTRA', 'SASTRA', 'SASTRA', 'VIT')

### Tuple Slicing

In [110]:
T = (10, 20, 30, 40, 50, 60)
T

(10, 20, 30, 40, 50, 60)

In [111]:
T[1:4]

(20, 30, 40)

In [112]:
T[1:4:3]

(20,)

In [113]:
T[5:2:-2]

(60, 40)

### Functions

In [114]:
T

(10, 20, 30, 40, 50, 60)

In [115]:
len(T)

6

In [116]:
T.append(70)

AttributeError: 'tuple' object has no attribute 'append'

In [117]:
T.index(30)

2

In [118]:
T.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [119]:
T = (1,1,1,1,2,3,3)

In [120]:
T.count(1)

4

In [121]:
T.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [122]:
T.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [124]:
sorted(T), type(sorted(T))

([1, 1, 1, 1, 2, 3, 3], list)

In [125]:
T.extend((2,4))

AttributeError: 'tuple' object has no attribute 'extend'

In [126]:
T2 = T

In [127]:
T2

(1, 1, 1, 1, 2, 3, 3)

In [128]:
L = sorted(T2, reverse = True)

In [129]:
L

[3, 3, 2, 1, 1, 1, 1]

In [130]:
T = tuple(L)
T

(3, 3, 2, 1, 1, 1, 1)

In [131]:
min(T), max(T)

(1, 3)

In [148]:
import random
random.choice(T)

3

### Using Loops

In [153]:
T = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
sum = 0
for i in T:
    print(i,end = " ")
    sum += i
    
print("\nSum of the tuple=",sum,'\n')

10 20 30 40 50 60 70 80 90 100
Sum of the tuple= 550

### Passing Tuples to Functions

In [154]:
def func(T):
    T*= 2
    print (T)
T = (11,12,13,14,15)
func(T)
print(T)

(11, 12, 13, 14, 15, 11, 12, 13, 14, 15)
(11, 12, 13, 14, 15)

### Activity Selection using Greedy approach

In [49]:
def f_time(item):
    
    return item[1]

def greedy(activities,selected):
    
    k=1
    
    while k<=n-1:
        
            start=selected[len(selected)-1][0]
            
            end=selected[len(selected)-1][1]
            
            while k<=n-1:
                
                if end<=activities[k][0]:
                    
                    if start==activities[k][0] and end==activities[k][1]:
                        
                        k+=1
                        
                        continue
                    else :
                        selected.append(activities[k])
                        break
                k+=1
                
    print(selected)

    
n=int(input("Enter no.of Activities: "))

activities=[]          #empty list
                       #start and finish time of activities will be stored as tuples inside list. 

for i in range(n):
    
    start=int(input("Enter Start time: "))
    
    finish=int(input("Enter Finish time: "))
    
    activities.append((start,finish))           #Store the start and finish time of activities as tuples.
    
print("Activities Data: ",activities)

activities.sort(key=f_time)

print("Activities  List in sorted order of finish times: ", activities)

selected=[]

selected.append(activities[0])

greedy(activities,selected)

print("No.of Selected Activities: ",len(selected))

Enter no.of Activities: 5
Enter Start time: 1
Enter Finish time: 4
Enter Start time: 2
Enter Finish time: 3
Enter Start time: 3
Enter Finish time: 6
Enter Start time: 6
Enter Finish time: 3
Enter Start time: 5
Enter Finish time: 7
Activities Data:  [(1, 4), (2, 3), (3, 6), (6, 3), (5, 7)]
Activities  List in sorted order of finish times:  [(2, 3), (6, 3), (1, 4), (3, 6), (5, 7)]
[(2, 3), (6, 3), (3, 6)]
No.of Selected Activities:  3