In [1]:
Flowers = ('Rose', 'Lilly', 'Jasmine', 'Lotus')
T = (45, 60.9, (45, 'Raja'), ['Red', 'Blue', 'Yellow', 'White'])

In [2]:
Flowers[0]

'Rose'

In [3]:
T[2][1]

'Raja'

In [4]:
T[3][2]

'Yellow'

In [5]:
Colors = ['Red', 'Blue', 'Yellow', 'White']
T1 = (Flowers, Colors)

In [6]:
T1[1][3]

'White'

In [7]:
T1[1][3]='Black'

In [8]:
T1

(('Rose', 'Lilly', 'Jasmine', 'Lotus'), ['Red', 'Blue', 'Yellow', 'Black'])

In [9]:
Colors[3] = 'Orange'

In [10]:
Colors

['Red', 'Blue', 'Yellow', 'Orange']

In [11]:
T1

(('Rose', 'Lilly', 'Jasmine', 'Lotus'), ['Red', 'Blue', 'Yellow', 'Orange'])

In [ ]:
#T1[0][1] = 'Red Rose'       #Tuples items cannot be changed. Immutable

In [ ]:
T=(1, 2, 3)
a, b, c = T

In [ ]:
print ('a = ', a, 'b = ', b, 'c = ', c)

In [ ]:
x=10
y=20
z=30
T = (x, y, z)
T

In [ ]:
x=50
T

In [ ]:
x

In [ ]:
T2 = 4, 6, 10
T2

In [ ]:
T2 += (7, 8)
T2

In [ ]:
T2 = T2 * 2

In [ ]:
T2

In [ ]:
#T2 = T2 - (7, 8)

In [ ]:
L = [1,2,3]
T = (L,)
print (T)
L = L * 2
print (T)
print (L)