# Comprehensions

### List Comprehension

In [1]:
L1 = [10, 20, 30, 40]
L2 = [x+5 for x in L1]             # List comprehension
print('L1 = ', L1)
print('L2 = ', L2)

L1 =  [10, 20, 30, 40]
L2 =  [15, 25, 35, 45]

In [2]:
L3 = [x+5 for x in range(10,50,10)]
print('L3 = ', L3)

L3 =  [15, 25, 35, 45]

In [3]:
s = "Think Merit, Think Transparency, Think SASTRA"
L4 = [x for x in s.split(',')]
print('L4 = ', L4)

L4 =  ['Think Merit', ' Think Transparency', ' Think SASTRA']

In [4]:
s = "Think Merit,  Think Transparency,  Think SASTRA  "
L5 = [x.strip() for x in s.split(',')]
print('L5 = ', L5)

L5 =  ['Think Merit', 'Think Transparency', 'Think SASTRA']

In [5]:
L6 = [x.strip().upper() for x in s.split(',')]
print('L6 = ', L6)

L6 =  ['THINK MERIT', 'THINK TRANSPARENCY', 'THINK SASTRA']

In [6]:
L7 = [x for x in range(50) if x%2 == 0]
print('L7 = ', L7)

L7 =  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [9]:
L8 = [x+y for x in range(100,110) for y in range(0,10,2)]
print('L8 = ', L8)

L8 =  [100, 102, 104, 106, 108, 101, 103, 105, 107, 109, 102, 104, 106, 108, 110, 103, 105, 107, 109, 111, 104, 106, 108, 110, 112, 105, 107, 109, 111, 113, 106, 108, 110, 112, 114, 107, 109, 111, 113, 115, 108, 110, 112, 114, 116, 109, 111, 113, 115, 117]

### Set Comprehension

In [10]:
S1 = {10, 20, 30, 40}
S2 = {x+5 for x in L1}
print('S1 = ', S1)
print('S2 = ', S2)

S1 =  {40, 10, 20, 30}
S2 =  {25, 35, 45, 15}

In [11]:
S3 = {x+5 for x in range(10,50,10)}
print('S3 = ', S3)

S3 =  {25, 35, 45, 15}

In [12]:
s = "Think Merit, Think Transparency, Think SASTRA"
S4 = {x for x in s.split(',')}
print('S4 = ', S4)

S4 =  {' Think SASTRA', 'Think Merit', ' Think Transparency'}

In [13]:
s = "Think Merit,  Think Transparency,  Think SASTRA  "
S5 = {x.strip() for x in s.split(',')}
print('S5 = ', S5)

S5 =  {'Think Merit', 'Think Transparency', 'Think SASTRA'}

In [14]:
S6 = {x.strip().upper() for x in s.split(',')}
print('S6 = ', S6)

S6 =  {'THINK TRANSPARENCY', 'THINK SASTRA', 'THINK MERIT'}

In [15]:
S7 = {x for x in range(50) if x%2 == 0}
print('S7 = ', S7)

S7 =  {0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48}

In [16]:
S8 = {x+y for x in range(100,110) for y in range(0,10,2)}
print('S8 = ', S8)

S8 =  {100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117}

### Dictionary Comprehension

In [17]:
L1 = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
D1 = {x:ord(x) for x in L1}
print('L1 = ', L1)
print('D1 = ', D1)

L1 =  ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
D1 =  {'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72}

In [18]:
D2 = {x:x**2 for x in range(1,11)}
print('D2 = ', D2)

D2 =  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [19]:
L1 = [(x, ord(x)) for x in 'abcdefghijklmnopqrstuvwxyz']
D3 = {x:y for (x, y) in L1}
print('D3 = ', D3)

D3 =  {'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [20]:
D3 = {x:y for x, y in L1}
print('D3 = ', D3)

D3 =  {'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [21]:
L1 = [['Joe', 48], ['Kim', 32], ['Raja', 25], ['Ajai', 60]]
D4 = {a:b for [a,b] in L1}
print('D4 = ', D4)

D4 =  {'Joe': 48, 'Kim': 32, 'Raja': 25, 'Ajai': 60}

In [22]:
D4 = {a:b for a,b in L1}
print('D4 = ', D4)

D4 =  {'Joe': 48, 'Kim': 32, 'Raja': 25, 'Ajai': 60}

### Tuple Comprehension

In [23]:
D1 = {'Joe': 48, 'Kim': 32, 'Raja': 25, 'Ajai': 60}
T1 = tuple(D1.items())
print('T1 = ', T1)

T1 =  (('Joe', 48), ('Kim', 32), ('Raja', 25), ('Ajai', 60))

In [24]:
T2 = tuple((x.upper(), y) for x,y in D1.items())
print('T2 = ', T2)

T2 =  (('JOE', 48), ('KIM', 32), ('RAJA', 25), ('AJAI', 60))

In [25]:
T2 = ((x.upper(), y) for x,y in D1.items())
print('T2 = ', T2)
for x,y in T2:
    print (x, y)

T2 =  <generator object <genexpr> at 0x7fe8a0482820>
JOE 48
KIM 32
RAJA 25
AJAI 60

In [26]:
L1 = [1, 2, 3, 4]
L2 = [10, 20]
T3 = tuple((x, y, x*y) for x in L1 for y in L2)
print('T3 = ', T3)

T3 =  ((1, 10, 10), (1, 20, 20), (2, 10, 20), (2, 20, 40), (3, 10, 30), (3, 20, 60), (4, 10, 40), (4, 20, 80))

Only for tuple we need to explicity specify tuple() otherwise if we specify [] it is interpreted as list and {} as set and etc