# Dictionary

In [1]:
D = {'spam': 2, 'ham': 1, 'eggs': 3}

In [2]:
D['spam']

2

In [3]:
D

{'spam': 2, 'ham': 1, 'eggs': 3}

In [4]:
len(D)

3

In [5]:
'ham' in D

True

In [6]:
D.keys()

dict_keys(['spam', 'ham', 'eggs'])

In [7]:
D['tan'] = "table"

In [8]:
D

{'spam': 2, 'ham': 1, 'eggs': 3, 'tan': 'table'}

In [9]:
list(D.keys())

['spam', 'ham', 'eggs', 'tan']

In [10]:
k1 = D.keys()

In [11]:
k1

dict_keys(['spam', 'ham', 'eggs', 'tan'])

In [12]:
D[20]='SUM'

In [13]:
k1

dict_keys(['spam', 'ham', 'eggs', 'tan', 20])

In [ ]:
D['ham'] = ['grill', 'bake', 'fry']

In [ ]:
D

In [ ]:
del D['eggs']

In [ ]:
D

In [ ]:
D['brunch'] = 'Bacon'
D['titan'] = 'watch'

In [ ]:
D

In [ ]:
D['spam']=32

In [ ]:
D.values()

In [ ]:
list(D.values())

In [ ]:
D.items()

In [ ]:
list(D.items())

In [ ]:
for key in D:
    print(key, D[key])

In [ ]:
D.get('spam')

In [ ]:
D['toast']        # raises KeyError

In [ ]:
D.get('toast')

In [ ]:
print(D.get('toast'))

In [ ]:
D.get('toast', 50)

In [ ]:
D.get('spam', 40)

In [ ]:
D1 = {31:['Jan', 'Mar', 'May', 'July', 'Aug', 'Oct', 'Dec'], 30:['Apr', 'June', 'Sep', 'Nov'], 29:'Feb', 20:'Feb'}

In [ ]:
D1[31]

In [ ]:
D1[31][3]

In [ ]:
D.update(D1)

In [ ]:
D

In [ ]:
D.pop('titan')

In [ ]:
D

In [ ]:
x={}
type(x)

# Set

In [ ]:
s=set()
s

In [ ]:
s1 = {10, 20, 30, 40, 50}
s2 = {5, 10, 15, 20, 25, 30, 35, 40}

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1&s2

In [ ]:
s1.intersection(s2)

In [ ]:
s1|s2

In [ ]:
s1.union(s2)

In [ ]:
s3={1, 2, 3, 4}
s4={3, 4, 5, 6}
s3-s4

In [ ]:
s3^s4

In [ ]:
s3 + {7,8,9}   # raises TypeError: unsupported operation

In [ ]:
s3-{1, 2}

In [ ]:
s3

In [ ]:
s5={1, 2}

In [ ]:
s5 < s3                # Is s5 subset of (contained in) s3?

In [ ]:
s5.issubset(s3)

In [ ]:
s3 > s5                # Is s3 a superset of (contains) s5?

In [ ]:
5 in s3               # membership operator

In [ ]:
3 in s3

In [ ]:
s3.add(10)            # in-place change

In [ ]:
s3

In [ ]:
s3.update({7, 8, 9})   # in-place change

In [ ]:
s3

In [ ]:
s3.remove(10)

In [ ]:
s3

In [ ]:
s3.remove(5)   # raises KeyError

In [ ]:
len(s1)

In [ ]:
for x in s1:             #un-ordered
    print(x)