# Working with String Data

In [1]:
s1 = "I am an Immutable String"
print(s1[3])

m

In [2]:
print(s1[8:17])

Immutable

In [4]:
s1[8:17]="Mutable"         #Error. Can't be changed inplace

TypeError: 'str' object does not support item assignment

In [5]:
s1 = s1[:6]+s1[7:8]+s1[10:17]+s1[17:]
s1

'I am a mutable String'

### Multi-line Strings

In [6]:
s2="""SASTRA
DEEMED
UNIVERSITY"""
s2

'SASTRA\nDEEMED\nUNIVERSITY'

### String Functions

In [9]:
print(s2.lower())

sastra
deemed
university

In [10]:
print(s2.title())

Sastra
Deemed
University

In [11]:
print(s2.capitalize())

Sastra
deemed
university

In [12]:
print(s2.upper())

SASTRA
DEEMED
UNIVERSITY

In [13]:
s2.split('\n')

['SASTRA', 'DEEMED', 'UNIVERSITY']

In [14]:
s2.count('E')

4

In [15]:
name = "Kathiravan Ramanathan"
firstname, lastname = name.split()

In [16]:
firstname

'Kathiravan'

In [17]:
lastname

'Ramanathan'

In [18]:
firstname.swapcase()

'kATHIRAVAN'

In [19]:
s4 = "   I am a   string with multiple  spaces     "
s4.rstrip()

'   I am a   string with multiple  spaces'

In [20]:
s4.lstrip()

'I am a   string with multiple  spaces     '

In [21]:
s4.strip()

'I am a   string with multiple  spaces'

In [22]:
s5 = "I am centered string"
s5.center(30)

'     I am centered string     '

In [23]:
s5.center(10)

'I am centered string'

In [24]:
s5.find('centered')

5