# Creating Tuples

In [11]:
T=()     #empty tuple
T

()

In [12]:
T=(31,)    
T

(31,)

In [3]:
T=(123,'abc',True,[3,1,6,3],(1,2))   #Heterogenous Tuple
print(T)

(123, 'abc', True, [3, 1, 6, 3], (1, 2))

In [4]:
T=(1,2,3,4,'a','b',5)
print(T)

(1, 2, 3, 4, 'a', 'b', 5)

# Referring Tuple items

In [5]:
T=(21,22,23,24,25,26,27,28)
print(T[3])    #printing element with index 3

24

In [6]:
T[-1]    #it will print 12 item from the end

28

In [13]:
T[4]=100   #TypeError   Tuples are immutable

In [15]:
print(T[10])  # throws IndexError since Index 10 is out of range

# Working with Tuple elements

In [16]:
T=(10,)*8
T

(10, 10, 10, 10, 10, 10, 10, 10)

In [17]:
T=('a','b')*3
print(T)

('a', 'b', 'a', 'b', 'a', 'b')

In [18]:
T+(1,2)    #Since tuples are immutable  T remains same
print(T)

('a', 'b', 'a', 'b', 'a', 'b')

In [19]:
T=T+(1,2)*5
print(T)

('a', 'b', 'a', 'b', 'a', 'b', 1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

#  Tuples Concatenation

In [20]:
T=(11,12,13)+(14,15,16)
T

(11, 12, 13, 14, 15, 16)

In [21]:
T=T+(17,18)
T

(11, 12, 13, 14, 15, 16, 17, 18)

In [22]:
T+(19,20)    #Since tuples are immutable.no change occurs in T
T

(11, 12, 13, 14, 15, 16, 17, 18)

In [23]:
T=T+(19,20)    #now change occurs
T

(11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

# Tuple Slicing

In [24]:
T[1:4]

(12, 13, 14)

In [25]:
T[1:4:3]

(12,)

In [26]:
T[6:2:-1]

(17, 16, 15, 14)

In [27]:
T[-1:-3:-1]

(20, 19)

In [28]:
T[:6]

(11, 12, 13, 14, 15, 16)

In [29]:
T[2: ]

(13, 14, 15, 16, 17, 18, 19, 20)

In [30]:
T[2: :2]

(13, 15, 17, 19)

In [31]:
T[ : :-1]

(20, 19, 18, 17, 16, 15, 14, 13, 12, 11)

# Functions

In [32]:
l=len(T)
print(l)

10

In [ ]:
T.append(21)       #Attribute Error since tuples are immutable

In [33]:
T.index(19)

8

In [ ]:
T.pop()                     # Attribute error because Tuples are immutable

In [34]:
T.count(11)

1

In [ ]:
T.reverse()           #Attribute error because Tuples are immutable

In [35]:
#T.sort()           #Attribute error because Tuples are immutable
L=sorted(T)        #we can use this sorted function because it returns a new Tuples that consisting of sorted items
print(L)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
T.extend((25,30))          #Attribute error because Tuples are immutable

In [36]:
L=T
print(L)

(11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [37]:
T1=T[:]      #Copying  using Slicing
print(T1)

(11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [38]:

L=list(T)
print(L)                   #Changes Tuple into List

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [39]:
T=tuple(L)             ##Changes  List to Tuple
print(T)

(11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [40]:
min(T)

11

In [41]:
max(T)

20

In [42]:
T1=sorted(T)
print(T1)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [43]:
import random
random.choice(T)

16

# using Tuples in for Loop

In [44]:
T=(1,2,3,4,5,6,7,8,9,10)
total=0
for i in T:
    print(i)
    total+=i
    
print("\nTotal=",total,'\n')

1
2
3
4
5
6
7
8
9
10

Total= 55

In [45]:
T=(1,2,3,4,5,6,7,8,9,10)
total=0
i=1
while i<=len(T):
    print(T[i-1])
    total=total+T[i-1]
    i=i+1
print("\n","Total=",total)

1
2
3
4
5
6
7
8
9
10

 Total= 55

# Pass by Value

### Tuples can't be passed as reference , only passed by Value

In [10]:
def no_modify(T):
    T = T * 2
    print (T)
T = (11,12,13,14,15)
no_modify(T)
print (T)

(11, 12, 13, 14, 15, 11, 12, 13, 14, 15)
(11, 12, 13, 14, 15)

In [9]:
def modify(T):
    T*= 2
    print (T)
T = (11,12,13,14,15)
modify(T)
print(T)

(11, 12, 13, 14, 15, 11, 12, 13, 14, 15)
(11, 12, 13, 14, 15)

# Activity Selection Problem using Greedy strategy

In [49]:
def f_time(item):
    
    return item[1]

def greedy(activities,selected):
    
    k=1
    
    while k<=n-1:
        
            start=selected[len(selected)-1][0]
            
            end=selected[len(selected)-1][1]
            
            while k<=n-1:
                
                if end<=activities[k][0]:
                    
                    if start==activities[k][0] and end==activities[k][1]:
                        
                        k+=1
                        
                        continue
                    else :
                        selected.append(activities[k])
                        break
                k+=1
                
    print(selected)

    
n=int(input("Enter no.of Activities: "))

activities=[]          #empty list
                       #start and finish time of activities will be stored as tuples inside list. 

for i in range(n):
    
    start=int(input("Enter Start time: "))
    
    finish=int(input("Enter Finish time: "))
    
    activities.append((start,finish))           #Store the start and finish time of activities as tuples.
    
print("Activities Data: ",activities)

activities.sort(key=f_time)

print("Activities  List in sorted order of finish times: ", activities)

selected=[]

selected.append(activities[0])

greedy(activities,selected)

print("No.of Selected Activities: ",len(selected))

Enter no.of Activities: 5
Enter Start time: 1
Enter Finish time: 4
Enter Start time: 2
Enter Finish time: 3
Enter Start time: 3
Enter Finish time: 6
Enter Start time: 6
Enter Finish time: 3
Enter Start time: 5
Enter Finish time: 7
Activities Data:  [(1, 4), (2, 3), (3, 6), (6, 3), (5, 7)]
Activities  List in sorted order of finish times:  [(2, 3), (6, 3), (1, 4), (3, 6), (5, 7)]
[(2, 3), (6, 3), (3, 6)]
No.of Selected Activities:  3